body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    /*background-color: #f0f0f0;*/
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2); /* 渐变背景 */
    background-attachment: fixed; /* 固定背景 */
}

.sidebar {
    width: 100px;
    background: #f4f4f4;
    padding: 10px;
    height: 100vh;
    position: fixed;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.content {
    margin-left: 220px;
    padding: 20px;
    flex: 1;
}

.slideshow-container img {
    max-width: 400px;
    max-height: 250px;
    width: auto;
    height: auto;
}

/* 添加分割线样式 */
section {
    margin-bottom: 40px; /* 调整每个部分之间的间距 */
    padding-bottom: 20px; /* 调整内容与分割线之间的间距 */
    border-bottom: 2px solid #e0e0e0; /* 添加分割线，颜色为浅灰色 */
}

/* 最后一个部分不需要分割线 */
section:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}


